<h1>Listing tag_instances</h1>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_instances.each do |tag_instance| %>
      <tr>
        <td><%= tag_instance.timestamp %></td>
        <td><%= link_to 'Show', tag_instance %></td>
        <td><%= link_to 'Edit', edit_tag_instance_path(tag_instance) %></td>
        <td><%= link_to 'Destroy', tag_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag instance', new_tag_instance_path %>
